.nav{
    grid-area: n;
    background-color: #8EE4AF;
  }

.item{
      color: white;
      padding: 5px;
      padding-left: 10px;
      font: Montserrat;
}
.item.active :hover{
    color: #05386B;
    cursor: pointer;
}